body{
    margin:0;
    padding:0;
    font-family:Verdana,sans-serif;
    background:#F4FBFF;
}

.container{
    width:520px;
    margin:40px auto;
    background:#FFFFFF;
    padding:30px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    border-left:8px solid #00BCD4;
}

h2{
    text-align:center;
    color:#0288D1;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#444;
}

input{
    width:100%;
    padding:12px;
    margin-top:6px;
    border:2px solid #81D4FA;
    border-radius:8px;
    box-sizing:border-box;
    background:#FCFEFF;
    font-size:15px;
}

input:focus{
    outline:none;
    border-color:#FFD54F;
    box-shadow:0 0 8px rgba(255,213,79,0.5);
}

input[type=submit]{
    margin-top:25px;
    background:#00BCD4;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

input[type=submit]:hover{
    background:#0097A7;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #E0F7FA;
}

th{
    background:#FFD54F;
    color:#333;
    padding:12px;
}

td{
    padding:12px;
    background:#FFFFFF;
}

button{
    background:#7CB342;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#558B2F;
}