body{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS',sans-serif;
    background:#F8FFFE;
}

.container{
    width:550px;
    margin:40px auto;
    background:#FFFDF9;
    padding:30px;
    border-radius:18px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.15);
    border-top:8px solid #00ACC1;
}

h2{
    text-align:center;
    color:#00695C;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#444;
}

input,
select{
    width:100%;
    padding:11px;
    margin-top:6px;
    border:2px solid #80DEEA;
    border-radius:8px;
    box-sizing:border-box;
    background:white;
    font-size:15px;
}

input[type=radio]{
    width:auto;
    margin-top:15px;
}

input:focus,
select:focus{
    outline:none;
    border-color:#FF8A65;
    box-shadow:0 0 8px rgba(255,138,101,0.4);
}

input[type=submit]{
    margin-top:25px;
    background:#00ACC1;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

input[type=submit]:hover{
    background:#00838F;
}

.success{
    text-align:center;
    color:#2E7D32;
    font-size:18px;
    font-weight:bold;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #E0E0E0;
}

th{
    background:#FF8A65;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    background:#FFFDF9;
}

button{
    background:#7E57C2;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#5E35B1;
}