body{
    margin:0;
    padding:0;
    font-family:Verdana,sans-serif;
    background:#F8F7FF;
}

.container{
    width:550px;
    margin:40px auto;
    background:#FFFFFF;
    padding:30px;
    border-radius:18px;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
    border-top:8px solid #7B2CBF;
}

h2{
    text-align:center;
    color:#5A189A;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#444;
}

input{
    width:100%;
    padding:12px;
    margin-top:6px;
    border:2px solid #4DD0E1;
    border-radius:8px;
    box-sizing:border-box;
    font-size:15px;
    background:#FCFFFF;
}

input:focus{
    outline:none;
    border-color:#FFB703;
    box-shadow:0 0 8px rgba(255,183,3,0.4);
}

input[type=submit]{
    margin-top:25px;
    background:#7B2CBF;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

input[type=submit]:hover{
    background:#5A189A;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ddd;
}

th{
    background:#4DD0E1;
    color:#222;
    padding:12px;
}

td{
    padding:12px;
    background:#FFF8F0;
}

button{
    background:#FB8500;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#E76F00;
}