body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#FFF3EE;
}

.container{
    width:550px;
    margin:45px auto;
    background:#FFFFFF;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    border-top:8px solid #6A1B9A;
}

h2{
    text-align:center;
    color:#6A1B9A;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#333333;
}

input{
    width:100%;
    padding:12px;
    margin-top:6px;
    border:2px solid #80DEEA;
    border-radius:9px;
    box-sizing:border-box;
    font-size:15px;
    background:#FCFFFF;
}

input:focus{
    outline:none;
    border-color:#AB47BC;
    box-shadow:0 0 8px rgba(171,71,188,0.35);
}

input[type="submit"]{
    margin-top:25px;
    background:#6A1B9A;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

input[type="submit"]:hover{
    background:#4A148C;
}

.success{
    text-align:center;
    color:#00897B;
    font-size:18px;
    font-weight:bold;
    background:#E0F7F5;
    padding:10px;
    border-radius:8px;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,
th,
td{
    border:1px solid #D8D8D8;
}

th{
    background:#80DEEA;
    color:#263238;
    padding:12px;
    text-align:left;
}

td{
    padding:12px;
    background:#FFF8F5;
}

.total th,
.total td{
    background:#E1BEE7;
    color:#4A148C;
    font-size:17px;
}

button{
    background:#FF7043;
    color:white;
    border:none;
    padding:11px 22px;
    border-radius:9px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#E64A19;
}